* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

/* App */
#app {
  display: /*grid*/ block;
  height: max-content;
  width: 100%;
}

/* </Navbar> */
#nav {
  display: inline-block;/*flex;
  float: right;
  flex-wrap: nowrap;*/
  width: 100%;
  height: 3.25rem;
  text-align: center;
  justify-content:space-evenly;
  align-content: center;
  margin-top: .5rem;

}
.navLinksWrapper {
  display: block;
  align-content: center;
  justify-content: space-evenly;
}
.navbar {

  text-align: justify;
  color: #495E57;
  font-size: 1rem;
  font-family: Markazi Text;
  font-weight: 500;
  padding: 1rem;
  align-self: center;
  text-decoration: none;
  margin: 1rem;
}
.AppLogo {
  display: flex;
  align-self: center;
  justify-self: left;
  height: 2.25rem;
  margin-left: 1vw;
}


/* </Header> */
#header {
  display: /*inline-*/flex;
  width: 100%;
  height: max-content;
  justify-content: center;
  background-color: #495E57;
  flex-wrap: wrap;
}
.headerBackground {
  display: /*inline-block inline-*/flex;
  width: fit-content;
  height: max-content;
  flex-wrap: wrap-reverse;
}
/* left side (text) */
.textWrapper {
 /* display: block;
  width: fit-content;
  /*max-width: 48%;*/
  padding-left: 1rem;
  /*justify-self: center;
  justify-content: center;
  /*max-height: 23rem;*/
 /* height: fit-content;
 /*align-content: space-evenly;*/
 /*margin: 0 auto;*/

 display: flexbox;
 width: fit-content;
 max-width: 25rem;
 margin: 0 auto;
}
.titleBlock {
  text-align: left;
}
.title {
  font-size: 2.25rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*width: max-content;*/
  /*padding-left: 1rem;*/
  color: #F4CE14;
  font-family: Markazi Text;
  font-weight: 400;
  word-wrap: 'break-word';
  padding-top: 1rem;
}
.h2text {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.text {
  color: #EDEFEE;
  /*margin-left: 1rem*/
  font-family: Karla;
  font-weight: 400;
}
.ptext {
  font-size: 1rem;
  max-width: 55%;
  text-align: left;
  display:flex;
  padding: 1rem 0;
  /*justify-self /*content: center;*/
}
.reserveATableWrapper {
  display:flex;
  justify-content: left;
  align-content:space-evenly;
  padding: 1rem;
}
.reserveATable {
  width: max-content;
  /*max-width: 13rem;*/
}
.reserveATableButton {
  color:#333333;
}
/* right side (image) */
.heroImageWrapper {
  display: flex;

  /*
  align-items: center;*/
  /*margin: 0 auto;*/
  width: fit-content;
}
.heroImage {
  height: /*44vw*/ fit-content;
  max-height: 20rem;
  max-width: 20rem;
  width: /*44vw*/ fit-content;
  border-radius: 25px;
  padding: 1rem;
  display: flex;
  margin: auto;
}

/* </Specials> */
#specials {
  display: block;
  /*grid-template-rows: 7rem 27rem;*/
  width: 100%;
  height: max-content;
  background-color: #EDEFEE;
}
/* heading and button (top area) */
.topWrapper {
  display: flex;
  /*grid-template-columns: auto auto;*/
  max-height: 7rem;
  width: 100%;
  padding: 1rem;
}
.h1Specials {
  /*margin: 1rem;*/
  font-family: Markazi Text;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  width: fit-content;
}
.buttonOM {
  margin: auto;
  color: #333333;
  width: fit-content;
  max-width: 13rem;
  text-align: center;
  font-weight: 500;
  font-family: Markazi Text;
}
/* menu items (bottom area) */
.bottomWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  align-items: baseline;
}
.menuItem {
display: inline;
margin: 0 auto;
width: max-content;
}
.menuItemImage {
  width: 100%;
  max-width: 17rem;
  margin: 1rem;
  padding: .25rem;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.labelGroup {
  display: grid;
  grid-template-columns: 65% 35%;
  font-size: .75rem;
  margin: 1rem;
  max-height: 2.5rem;
  width: 100%;
  max-width: 17rem;
}
.label {
  font-family: Markazi Text;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color:#333333;
  font-size: 1.5rem;
}
.price {
  color: #ee9972;
  text-align: right;
  font-family: Markazi Text;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1.5rem;
}
.description {
  margin: 2rem 1rem;
  color:#333333;
  text-align: justify;
  width: auto;
  max-width: 17rem;
  font-family: Karla;
  font-size: 1rem;
  font-weight: 400;
  height: max-content;
}

/* </Testimonials> */
#testimonials {
  display: block;/*grid;
  grid-template-rows: 5rem auto;*/
  background-color: #495E57;
  color:#F4CE14;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  font-family: Markazi Text;
  font-weight: 500;
  padding: 1rem;
}
.testimonialContainersWrapper {
  display: inline-flex;
  flex-direction:row;
  flex-wrap:wrap-reverse;
  height: max-content;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.testimonialContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 47% 53%;
  height: 17rem;
  width: 17rem;
  background-color: #EDEFEE;
  color: #495E57;
  border-radius: 25px /*1.5rem*/;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.testimonialUserImage {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin-top: .5rem;
}
.rating {
  color: #333333;
  font-size: 1rem/*18*/;
  font-family: Markazi Text;
  font-weight: 500;
}
.name {
  font-size: 1rem;
  margin-top: .5rem;
  color: #333333;
  font-size: 1.25rem/*20*/;
  font-family: Inter;
  font-weight: 400;
}
.userFeedback {
 width: auto;
 max-width: 15rem;
 height: fit-content;
 grid-column: span 2;
 grid-row: 2;
 padding: .25rem;
 color: #333333;
 font-size: 1rem;
 font-family: Inter;
 font-weight: 400;

}

/* </About> */
#about {
  background-color: #999999;
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: 27.5rem;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}
.aboutTextWrapper {
  display: flexbox;
  width: fit-content;
  max-width: 23rem;
  align-self: center;
}
.aboutTitle {
  font-size: 2.25rem;
  font-family: Markazi Text;
  font-weight: 400;
}
.abouth2text {
  color: white;
  font-size: 1.75rem;
  font-family: Inter;
  font-weight: 400;
}
.aboutPText {
  font-size: 1rem;
  font-family: Inter;
  word-wrap: break-word;
  width: fit-content;
  margin: 2rem;
  font-weight: 400;
  color: white;

}
.aboutImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 55%;
  max-height: auto;
}
.aboutImage {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  /*display: inline-flex;*/
  /*justify-self: flex-start;/*
  /*max-height: 13rem;*/
}

/* </Footer> */
#footer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  justify-content: center;
}
.footerLogo {
  display: inline-block;
  height: auto;
  max-height: 3.5rem;
  width: auto;
}
.footerTextGroup {
  display: flex;
  flex-wrap: nowrap;
}
.footer {
  display: inline-block;
  width: fit-content;
  list-style-type: none;
  max-width: 33%;
  padding: 1rem;
  height:auto;
  color: #333333;
  font-size: .75rem;
  font-family: Inter;
  font-weight: 400;
}
.footer li {
  display: flex;
  margin-top: 0;
  text-decoration: none;
}

/*buttons*/
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4CE14;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
}
button:hover {
  border-color: #495E57;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #495E57;
    background-color: #EDEFEE;
  }
  a:hover {
    color: #495E57;
  }
  button {
    background-color: #F4CE14;
  }
}


/* <Availability /> */
#availability {
  background-color: #EDEFEE;
  display: block;
  align-self: center;
  justify-content: center;
}
.availabilityLogo {
  max-height: 3.25rem
}
.availabilityHeader {
  width: 80%;
  height: fit-content;
  background-color: #495E57;
  text-align: center;
  border-radius: 16px;
  min-height: 20rem;
  margin: 0 auto;
  display: block;

}
.availH2 {
  color: #EDEFEE;
  font-size: 3rem;
  word-spacing: 9999999999999px;
  padding: 5rem;
  text-align: center;

}
.availInput {
  display: inline-block;
  height: 3rem;
  width: 75%;
  border: solid 3px #F4CE14;
  border-radius: 16px;
  padding: 1rem;
  justify-self: center;

}
.availForm1 {
  display: block;
  width: 75%;
  justify-content: center;
  box-sizing: border-box;
}
/*this isn't working
.icon {
  justify-self: flex-end;
}*/
/* DatePicker */
.datePicker {
  display: flex;
  padding: 0rem 3rem;
}