
html {
  font-size: 18px;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4CE14;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #495E57;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navWrapper {
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr);
    grid-template-rows: [nav] 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    }
    .AppLogo { grid-area: 1 / 1 / 2 / 2; }
    .navtext1 { grid-area: 1 / 2 / 2 / 3; }
    .navtext2 { grid-area: 1 / 3 / 2 / 4; }
    .navtext3 { grid-area: 1 / 4 / 2 / 5; }
    .navtext4 { grid-area: 1 / 5 / 2 / 6; }
    .navtext5{ grid-area: 1 / 6 / 2 / 7; }
    .navtext6 { grid-area: 1 / 7 / 2 / 8; }

.nav {
  padding: 3rem;
  background-color: #EDEFEE;
}
.navtext {
  display: inline;
}

.headerWrapper {
  background-color: #495E57;
  display: grid;
}
.title {
  color:#F4CE14;
  font-size: 4rem;
  font-family: 'Markazi Text';
  font-weight: '400';
  word-wrap: 'break-word';
  margin-left: 3rem;
}
.h2text {
  font-size: 2rem;
  font-family: 'Karla';
  font-weight: '400';
}
.text {
  color: #EDEFEE;
  margin-left: 3rem;
}
.ptext {
  font-size: 1rem;
  font-family: 'Karla';
  word-wrap: 'break-word';
  width: 30%;
}
.heroImage {
  position: absolute;
  right: 15%;
  top: 15%;
}

.specialsWrapper {
  display: grid;
}
.testimonialsWrapper {
  display: grid;
}
.footerWrapper {
  display: grid;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #495E57;
    background-color: #EDEFEE;
  }
  a:hover {
    color: #495E57;
  }
  button {
    background-color: #F4CE14;
  }
}
