
html {
  font-size: 18px;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4CE14;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #495E57;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wrapper {
  display: grid;
  grid-template-rows:
  [navbar] 10rem
  [header] 20rem
  [specials] 20rem
  [testimonials] 16rem
  [footer] 10rem;
}

.header {
  background-color: #495E57;
}

.title {
  color:#F4CE14;
  font-size: 72;
  font-family: 'Markazi Text';
  font-weight: '400';
  word-wrap: 'break-word';


}
.text {
  color: #EDEFEE;
  font-size: 32;
  font-family: 'Karla';
  font-weight: '400';
  word-wrap: 'break-word';


}

.nav {
  display: grid;
  grid-auto-columns: 8;
  padding: 3rem;
  background-color: #EDEFEE;

}

.navbar {
  display: inline;

}

.navtext {
  padding: 1rem;
  margin-right: 5rem;
}

.navtext1, .navtext2, .navtext3, .navtext4, .navtext5, .navtext6 {
  padding: 1rem;
}

.footer {
  display: inline;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #495E57;
    background-color: #EDEFEE;
  }
  a:hover {
    color: #495E57;
  }
  button {
    background-color: #F4CE14;
  }
}
